<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OJ</title>
</head>
<body>
    <h1>New OJ</h1>
    <!-- <div>
        <h2>LOGIN</h2>
        <form method="post" action="/">
          {% csrf_token %}
        <input type="text" placeholder="Enter your username"><br>
        <input type="text" placeholder="Enter your password"><br>
        <button type="submit">Login</button>
        </form>
    </div> -->
    <div>
        <h2>SIGNUP</h2>
        <form method="post" action="">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Create your username"><br>
        <input type="text" name="password" placeholder="Create your password"><br>
        <button type="submit">SignUp</button>
        </form>
    </div>
</body>
</html>

