<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New OJ</h1>
    <h2>Hey username,</h2>
    <select name="a" id="b">
        <option value="Select problem">Select problem</option>
        <option value="Sum of two numbers"><a href="/description"></a>Sum of two numbers</option>
        <option value="Subtraction of two numbers">Subtraction of two numbers</option>
    </select>
</body>
</html>

 